/* General Styles */
body {
  background-color: #000000;
  color: #FFD700;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFD700;
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #CCB800;
  text-decoration: underline;
}

.btn-custom {
  background: linear-gradient(90deg, #FFD700, #CCB800);
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(90deg, #CCB800, #FFD700);
  color: #000; /* O elige otro más visible como blanco */
  box-shadow: 0 4px 6px rgba(255, 215, 0, 0.5);
}

.section-padding {
  padding: 60px 0;
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFD700;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.contact-info {
  color: #CCCCCC;
}

.project-card {
  background-color: #1C1C1C;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(255, 215, 0, 0.5);
}