/* src/components/HeroSection/HeroSection.css */
.hero-section {
    position: relative;
    overflow: hidden;
    height: 100vh; /* <-- ¡Asegúrate de que esto esté aquí! */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFD700;
    padding-top: 50px;
    box-sizing: border-box;
    /* ... otros estilos ... */
    
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  .hero-section a {
      color: #050505;
  }
  .hero-section a:hover {
      color: #000000;
  }