/* src/components/Particles/Particles.css */

.particles-container {
  position: relative; /* Ocupará el espacio disponible */
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); /* Solo para depuración, puedes quitarlo */
}

/* MUY IMPORTANTE: Asegura que el canvas generado por OGL llene su contenedor */
.particles-container canvas {
  display: block; /* Elimina espacio extra */
  width: 100% !important; /* Asegura el 100% del ancho del contenedor */
  height: 100% !important; /* Asegura el 100% del alto del contenedor */
  object-fit: cover; /* Asegura que el contenido se ajuste sin distorsión */
}