.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

/* General Styles */
body {
  background-color: #000000;
  color: #FFD700;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFD700;
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #CCB800;
  text-decoration: underline;
}

.btn-custom {
  background: linear-gradient(90deg, #FFD700, #CCB800);
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(90deg, #CCB800, #FFD700);
  color: #000;
  box-shadow: 0 4px 6px rgba(255, 215, 0, 0.5);
}

.section-padding {
  padding: 60px 0;
}

/* Estilos para el contenedor principal en App.js para asegurar el posicionamiento del fondo */
html, body, #root {
  height: 100%;
}